<ion-header>
  <ion-toolbar #barTool>
    <ion-title *ngIf="!search">Fontes</ion-title>
    <ion-buttons slot="primary">      
      <ion-button (click)="searchBarOpenClose()" *ngIf="!search">
        <ion-icon  slot="icon-only" name="search"></ion-icon>       
      </ion-button>
      <ion-button (click)="searchBarOpenClose()" *ngIf="search">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>       
      </ion-button>     
    </ion-buttons>
    <ion-searchbar *ngIf="search" animated (ionCancel)="searchBarOpenClose()" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="height: 100px;">

    </div>
         
    <ion-item (click)="navigateNovels(item)" class="ion-activatable ripple-parent" *ngFor="let item of scans;index as i">
      <ion-img [src]="item.logo"></ion-img>
      <ion-img></ion-img>      
      <ion-label>{{item.nome}}</ion-label>      
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>    
   
    
  </ion-list>

</ion-content>
