<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{obra.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 30px;"></div>
  <div class="novel-detail">
    <ion-img [src]="obra.src"></ion-img>
    <ion-buttons slot="primary">
      <ion-button (click)="addLibrary()">
        <ion-icon slot="icon-only" *ngIf="!library"  name="star-outline"></ion-icon>
        <ion-icon slot="icon-only" *ngIf="library" name="star"></ion-icon>
        
      </ion-button>
      <p>Adicionar a Biblioteca</p>
    </ion-buttons>
  </div>
  

  <ion-list >
    <ion-item *ngFor="let item of chapters;index as i;" button (click)="openReader(item)" >
      <ion-label>{{item.nome}}</ion-label>      
    </ion-item>
    
  </ion-list>
</ion-content>
