<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="biblioteca">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atualizations">
      <ion-icon name="camera-reverse-outline"></ion-icon>
      <ion-label>Atualizações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>histórico</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sources">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>Fontes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>...</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
