<ion-header *ngIf="showBar">
  <ion-toolbar *ngIf="showBar" class="hiddenBar">
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" (click)="setShowBar()">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{obra.nome}}</ion-title>
    <ion-title class="capitulo">{{chapter.nome}}</ion-title>
    
  </ion-toolbar>
</ion-header>

  
<ion-content (ionScroll)="scroll($event)" (click)="setShowBar()">
  
  <ion-list #leitor (click)="setShowBar()">
    <ion-item (click)="setShowBar()" *ngFor="let item of data;index as i;">{{item.conteudo}}</ion-item>
    
  </ion-list>
  <div *ngIf="showBar">
    <ion-toolbar  class="hiddenBarBottom">
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="swap-vertical-outline"></ion-icon>
        </ion-button>
        <ion-button color="secondary">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      
    </ion-toolbar>
  </div>

</ion-content>
