<ion-header *ngIf="type!='back'||type==='standard'">
  <ion-toolbar #barTool>
    <ion-title *ngIf="!search">{{title}}</ion-title>
    <ion-buttons slot="primary">      
      <ion-button (click)="searchBarOpenClose()" *ngIf="!search">
        <ion-icon  slot="icon-only" name="search"></ion-icon>       
      </ion-button>
      <ion-button (click)="searchBarOpenClose()" *ngIf="search">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>       
      </ion-button>     
    </ion-buttons>
    <ion-searchbar *ngIf="search" animated (ionCancel)="searchBarOpenClose()" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>



<ion-header *ngIf="type==='back'">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>